[data-theme="green"] {
  --chotto-chatinput-container-grid-gap: 5px;
  --chotto-chatinput-third-line-grid-column-start: 2;
  --chotto-chatinput-container-padding: 0 0 5px 0;

  --chotto-buttonwabatemplateselector-button-span-padding: 2px 3px;

  --chotto-channelselector-trigger-padding: 1px 0 0 3px;
}